/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

/*Color Variables*/
$Main_color: #b94a9b;
$Main_color_dark_2: #8c288c;

$red: #ff063d;
$blue: #6076fa;
$main_blue: #004ea1;
$green: #26b103;
$yellow: #d5b965;
$white: #ffffff;
$black: #1e1e1e;
$gray: #3a3a3a;

@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);

body,
html {
  font-family: "Suisse Intl" !important;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Suisse Intl" !important;
  font-weight: 600;
  color: $Main_color_dark_2;
}
h3 {
  font-size: 1.1rem;
}
h2.title {
  color: var(--black, #000);
  font-family: Suisse Intl;
  text-align: start;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2.22rem;
}
.sub-title {
  color: var(--black, #000);
  font-family: Suisse Intl;
  font-size: 1.22222rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h3.sub-title {
  color: var(--black, #000);
  font-family: Suisse Intl;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.v-messages__message {
  font-weight: 600;
  color: red;
}
.text-success {
  color: rgb(36, 187, 57) !important;
}
.v-alert {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10000000000;
  border-radius: 0px;
  height: 80px;
  .v-alert__prepend {
    margin-top: auto;
    margin-bottom: auto;
  }
  &.alert_inline {
    position: relative;
  }
}
.ui-preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background: rgb(255 255 255 / 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customLoader {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lang_switch {
  display: flex;
  align-items: center;
  .body {
    display: flex;
    flex-direction: column;
    label {
      color: var(--light-grey, #a6a8ab);
      font-family: Suisse Intl;
      font-size: 0.66667rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .v-btn {
      padding: 0;
      color: var(--main-color-dark-2, #8c288c) !important;
      font-family: Suisse Intl;
      font-size: 0.88889rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.loginPage {
  width: 100%;
  //margin-top: -155px;
  .background {
    background: url("@/assets/img/loginbg.png");
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
  }
  .loginBody {
    z-index: 1;
    position: relative;
    padding: 1rem;

    @media (max-width: 480px) {
      padding: 1rem;
    }
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .loginDiv {
      background-color: #fff;
      border-radius: 10px;
      padding: 1.5rem;
      margin-top: 1rem;
      // height: calc(100vh - 2rem);
      > .body {
        margin-top: 3rem;
      }
      h1 {
        color: var(--main-color-dark-2, #8c288c);
        text-align: center;
        font-family: Suisse Intl;
        font-size: 1.33333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 2.7rem;
      }
      .v-form {
        margin: 0 9rem;
        @media (max-width: 780px) {
          margin: 0;
        }
        label {
          color: var(--black, #000);
          font-family: Suisse Intl;
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        a {
          color: var(--main-color-light-dark, #bc46a3);
          text-align: center;
          font-family: Suisse Intl;
          font-size: 0.77778rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;
        }
        .v-btn {
          border-radius: 0.66667rem;
        }
        .v-btn--variant-elevated {
          background: var(--main-color, #b9499b) !important;
        }
        .hint {
          color: var(--placeholder, #9a9ea6);
          text-align: center;
          font-family: Suisse Intl;
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 2.2rem 0 1.67rem;
          display: block;
        }
        .btn-backtologin {
          border: 1px solid var(--main-color, #b9499b);
          background: var(--white, #fff);
          text-decoration: none;
          color: var(--main-color, #b9499b) !important;
          font-family: Suisse Intl;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .v-text-field input {
        opacity: 1;
        border-radius: 0.83333rem;
        border: 1px solid var(--light-stroke, #dfdfe0) !important;
        background: var(--white, #fff);
      }

      .v-field--variant-solo {
        box-shadow: none !important;
      }

      .completeProfile {
        .v-form {
          margin: 0 1rem;
          .avatar-uploader {
            text-align: center;
            // .v-input {
            //   // display: none;
            // }
          }
        }
      }

      @media (max-width: 780px) {
        .head {
          display: none;
        }
        .body {
          margin-top: 0;
        }
      }
    }
    .or {
      margin: 01.67rem 9rem;
      text-align: center;
      position: relative;
      &:before {
        content: " ";
        width: 70%;
        height: 0.05556rem;
        background: #e4e4e4;
        position: absolute;
        top: 16px;
        left: 15%;
      }
      span {
        color: var(--light-grey-color, rgba(0, 0, 0, 0.4));
        font-family: Suisse Intl;
        font-size: 0.88889rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #fff;
        padding: 0 10px;
        position: relative;
      }
    }
    .socail-login {
      margin: 0 9rem;
      .v-btn {
        margin-bottom: 0.78rem;
      }
      .sign-up {
        color: #000;
        text-align: center;
        font-family: Suisse Intl;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 4.5rem 0;
        a {
          color: var(--main-color-light-dark, #bc46a3);
          text-decoration-line: underline;
        }
      }
    }
  }
  .avatarImg {
    div {
      cursor: pointer;
      position: relative;
      display: inline-block;
      .camera {
        position: absolute;
        top: 110px;
        left: 99px;
        background: $blue;
        border-radius: 50%;
        padding: 10px;
      }
    }
  }
  .loginImg img {
    max-width: 100%;
    @media (max-width: 780px) {
      max-width: auto;
      position: fixed;
      top: 41%;
    }
  }
}
