/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

/*Color Variables*/
$Main_color: #b94a9b;
$Main_color_dark_2: #8c288c;

$red: #ff063d;
$blue: #6076fa;
$main_blue: #004ea1;
$green: #26b103;
$yellow: #d5b965;
$white: #ffffff;
$black: #1e1e1e;
$gray: #3a3a3a;

@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);

body,
html {
  font-family: "Suisse Intl" !important;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Suisse Intl" !important;
  font-weight: 600;
  color: $Main_color_dark_2;
}
h3 {
  font-size: 1.1rem;
}
h2.title {
  color: var(--black, #000);
  font-family: Suisse Intl;
  text-align: start;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2.22rem;
}
.sub-title {
  color: var(--black, #000);
  font-family: Suisse Intl;
  font-size: 1.22222rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h3.sub-title {
  color: var(--black, #000);
  font-family: Suisse Intl;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.v-main {
  flex: auto;
}
.v-messages__message {
  font-weight: 600;
  color: red;
}
.text-success {
  color: rgb(36, 187, 57) !important;
}
.v-alert {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10000000000;
  border-radius: 0px;
  height: 80px;
  .v-alert__prepend {
    margin-top: auto;
    margin-bottom: auto;
  }
  &.alert_inline {
    position: relative;
  }
}
.ui-preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background: rgb(255 255 255 / 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customLoader {
  position: absolute;
  width: 100%;
  height: 100%;
}
.v-btn {
  letter-spacing: 0 !important;
  border-radius: 0.66667rem;
  color: var(--white, #fff);
  text-align: center;
  /* buttons title */
  font-family: Suisse Intl;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-shadow: none !important;
}
.v-btn--variant-outlined {
  border: 1px solid var(--light-stroke, #dfdfe0);
  color: var(--black-color, #000) !important;
  text-align: right;
  font-family: Suisse Intl;
  font-size: 0.77778rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &.primary {
    color: var(--main-color, #b9499b) !important;
    text-align: center;
    /* buttons title */
    font-family: Suisse Intl;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid var(--main-color, #b9499b);
    border-radius: 0.66667rem;
  }
}
.action-btn {
  border-radius: 0.66667rem;
  background: var(--main-color, #b9499b);
  color: var(--white, #fff) !important;
  text-align: center;
  /* buttons title */
  font-family: Suisse Intl;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1.06rem;
  height: auto !important;
  &.red {
    background: #b94949;
  }
  &.green {
    background: #17860d;
  }
  &.blue {
    background: #5167b2;
  }
}
.action-outlined-btn {
  color: var(--main-color, #b9499b) !important;
  text-align: center;
  /* buttons title */
  font-family: Suisse Intl;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.66667rem;
  border: 2px solid var(--main-color, #b9499b);
  background: var(--white, #fff);
  padding: 1rem;
  height: auto !important;
  &.btn-small {
    font-size: 0.66667rem;
    padding: 0.78rem;
  }
}
.w-48 {
  width: 48%;
  margin: 0 1%;
}
.btn-sm {
  padding: 0.7rem;
}
.v-list {
  direction: rtl;
  .v-list-item-title {
    font-size: 0.8rem;
    cursor: pointer;
  }
}
.v-selection-control-group {
  flex-direction: row;
}
.v-selection-control__input > .v-icon {
  opacity: 20% !important;
}
.v-selection-control--disabled .v-selection-control__input > .v-icon,
.v-selection-control--dirty .v-selection-control__input > .v-icon,
.v-selection-control--error .v-selection-control__input > .v-icon {
  color: var(--main-color, #b9499b) !important;
  opacity: 1 !important;
}
.v-selection-control {
  flex: unset;
}
.v-selection-control .v-label {
  color: var(--secondary-color, #444545);
  text-align: center;
  font-family: Suisse Intl;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.v-input {
  position: relative;
  display: block;
  .v-input__control {
    width: 100%;
  }
  .v-input__append {
    top: 15px;
    position: absolute;
    left: 18px;
  }
}
.bg-primary {
  background: var(--main-color, #b9499b) !important;
}
header {
  .v-container {
    padding: 0 16px;
  }
  .topBar {
    padding: 40px 0 20px;
    border-bottom: 0.05556rem solid #dfdfe0;
    .search {
      position: relative;
      width: 500px;
      input {
        border-radius: 1.66667rem;
        border: 1px solid var(--light-stroke, #dfdfe0);
        background: var(--white, #fff);
        height: 2.66667rem;
        padding: 0rem 2.8rem;
        width: 100%;
      }
      img {
        position: absolute;
        right: 1.22rem;
        top: 16px;
      }
    }
  }
  .bottomBar {
    padding: 40px 0;
    border-bottom: 0.05556rem solid #dfdfe0;
    ul {
      list-style: none;
      padding: 0;
      display: inline-block;
      li {
        display: inline-block;
        a {
          color: var(--placeholder, #9a9ea6);
          font-family: Suisse Intl;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
          &:hover {
            color: var(--main-color, #b9499b);
            font-weight: 700;
          }
        }
        &.active {
          a {
            color: var(--main-color, #b9499b);
            font-weight: 700;
          }
        }
      }
    }
  }
}
.lang_switch {
  display: flex;
  align-items: center;
  .body {
    display: flex;
    flex-direction: column;
    label {
      color: var(--light-grey, #a6a8ab);
      font-family: Suisse Intl;
      font-size: 0.66667rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .v-btn {
      padding: 0;
      color: var(--main-color-dark-2, #8c288c) !important;
      font-family: Suisse Intl;
      font-size: 0.88889rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
footer {
  background: var(--secondary-color-to-use, #3b2959);
  padding-top: 40px;
  border-bottom: 0.66667rem solid var(--main-color, #b9499b);
  p {
    color: var(--white, #fff);
    font-family: Suisse Intl;
    font-size: 0.77778rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33333rem; /* 171.429% */
  }
  h3 {
    color: var(--white, #fff);
    font-family: Suisse Intl;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0.67rem;
  }
  .contacts {
    display: flex;
    align-items: center;
    .body {
      display: flex;
      flex-direction: column;
      label {
        color: var(--white, #fff);
        font-family: Suisse Intl;
        font-size: 0.66667rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.44rem;
      }

      p {
        color: var(--white, #fff);
        font-family: Suisse Intl;
        font-size: 0.88889rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .newsletterForm {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 1.1rem;
    input {
      width: 100%;
      border-radius: 1.66667rem;
      background: var(--white, #fff);
      height: 2.66667rem;
      padding: 0rem 2.4rem;
    }
    img {
      position: absolute;
      top: 16px;
      right: 20px;
    }
    button {
      height: 2rem;
      padding: 0rem 2.11111rem;
      border-radius: 1.66667rem;
      background: var(--main-color, #b9499b);
      color: var(--white, #fff);
      position: absolute;
      left: 17px;
      top: 7px;
      font-size: 0.66667rem;
      font-style: normal;
      font-weight: 600;
    }
  }
  .socialLinks {
    list-style: none;
    padding: 0;
    margin-top: 1.67rem;
    li {
      display: inline;
    }
  }
  .bottom {
    padding: 2rem 0;
  }
  .nav {
    list-style: none;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
      a {
        color: var(--white, #fff);
        font-family: Suisse Intl;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        &:hover {
          color: var(--main-color, #b9499b);
          font-weight: 700;
        }
      }
    }
  }
}
.main {
  margin-top: 1.68rem;
}
.usermenu {
  border-left: 0.05556rem solid #dfdfe0;
  .user {
    text-align: center;
    img {
      width: 6.27778rem;
      height: 6.27778rem;
      border-radius: 6.27778rem;
      border: 1px solid var(--main-color-light-1, #fca7c8);
    }
    h3 {
      color: var(--black, #000);
      text-align: center;
      font-family: Suisse Intl;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 1.1rem;
    }
    p {
      color: var(--placeholder, #9a9ea6);
      text-align: center;
      font-family: Suisse Intl;
      font-size: 0.77778rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 0.86rem;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin-top: 1.67rem;
    li {
      margin-bottom: 0.89rem;
      a {
        text-decoration: none;
        color: var(--placeholder, #9a9ea6);
        text-align: right;
        font-family: Suisse Intl;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0.72rem 0.67rem;
        display: block;
        border-radius: 0rem 0.83333rem 0.83333rem 0rem;
        &:hover {
          background: rgb(185 73 155 / 15%);
          color: var(--main-color, #b9499b);
          text-align: right;
          font-family: Suisse Intl;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          position: relative;
          &::after {
            content: "";
            width: 0.38889rem;
            height: 100%;
            display: block;
            position: absolute;
            left: -4px;
            top: 0;
            bottom: 0;
            border-radius: 0.83333rem;
            background: var(--main-color, #b9499b);
          }
        }
      }
      &.active {
        a {
          background: rgb(185 73 155 / 15%);
          color: var(--main-color, #b9499b);
          text-align: right;
          font-family: Suisse Intl;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          position: relative;
          &::after {
            content: "";
            width: 0.38889rem;
            height: 100%;
            display: block;
            position: absolute;
            left: -4px;
            top: 0;
            bottom: 0;
            border-radius: 0.83333rem;
            background: var(--main-color, #b9499b);
          }
        }
      }
    }
  }
}
.loginPage {
  width: 100%;
  //margin-top: -155px;
  .background {
    background: url("@/assets/img/loginbg.png");
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
  }
  .loginBody {
    z-index: 1;
    position: relative;
    padding: 1rem;

    @media (max-width: 480px) {
      padding: 1rem;
    }
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .loginDiv {
      background-color: #fff;
      border-radius: 10px;
      padding: 1.5rem;
      margin-top: 1rem;
      // height: calc(100vh - 2rem);
      > .body {
        margin-top: 3rem;
      }
      h1 {
        color: var(--main-color-dark-2, #8c288c);
        text-align: center;
        font-family: Suisse Intl;
        font-size: 1.33333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 2.7rem;
      }
      .v-form {
        margin: 0 9rem;
        @media (max-width: 780px) {
          margin: 0;
        }
        label {
          color: var(--black, #000);
          font-family: Suisse Intl;
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        a {
          color: var(--main-color-light-dark, #bc46a3);
          text-align: center;
          font-family: Suisse Intl;
          font-size: 0.77778rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;
        }
        .v-btn {
          border-radius: 0.66667rem;
        }
        .v-btn--variant-elevated {
          background: var(--main-color, #b9499b) !important;
        }
        .hint {
          color: var(--placeholder, #9a9ea6);
          text-align: center;
          font-family: Suisse Intl;
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 2.2rem 0 1.67rem;
          display: block;
        }
        .btn-backtologin {
          border: 1px solid var(--main-color, #b9499b);
          background: var(--white, #fff);
          text-decoration: none;
          color: var(--main-color, #b9499b) !important;
          font-family: Suisse Intl;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .v-text-field input {
        opacity: 1;
        border-radius: 0.83333rem;
        border: 1px solid var(--light-stroke, #dfdfe0) !important;
        background: var(--white, #fff);
      }

      .v-field--variant-solo {
        box-shadow: none !important;
      }

      .completeProfile {
        .v-form {
          margin: 0 1rem;
          .avatar-uploader {
            text-align: center;
            // .v-input {
            //   // display: none;
            // }
          }
        }
      }

      @media (max-width: 780px) {
        .head {
          display: none;
        }
        .body {
          margin-top: 0;
        }
      }
    }
    .or {
      margin: 01.67rem 9rem;
      text-align: center;
      position: relative;
      &:before {
        content: " ";
        width: 70%;
        height: 0.05556rem;
        background: #e4e4e4;
        position: absolute;
        top: 16px;
        left: 15%;
      }
      span {
        color: var(--light-grey-color, rgba(0, 0, 0, 0.4));
        font-family: Suisse Intl;
        font-size: 0.88889rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #fff;
        padding: 0 10px;
        position: relative;
      }
    }
    .socail-login {
      margin: 0 9rem;
      .v-btn {
        margin-bottom: 0.78rem;
      }
      .sign-up {
        color: #000;
        text-align: center;
        font-family: Suisse Intl;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 4.5rem 0;
        a {
          color: var(--main-color-light-dark, #bc46a3);
          text-decoration-line: underline;
        }
      }
    }
  }
  .avatarImg {
    div {
      cursor: pointer;
      position: relative;
      display: inline-block;
      .camera {
        position: absolute;
        top: 110px;
        left: 99px;
        background: $blue;
        border-radius: 50%;
        padding: 10px;
      }
    }
  }
  .loginImg img {
    max-width: 100%;
    @media (max-width: 780px) {
      max-width: auto;
      position: fixed;
      top: 41%;
    }
  }
}
.v-text-field input {
  opacity: 1;
  border-radius: 0.83333rem;
  border: 1px solid var(--light-stroke, #dfdfe0) !important;
  background: var(--white, #fff);
}
.v-field--variant-solo {
  box-shadow: none !important;
}
.eventFromDialog {
  // text-align: center;
  direction: rtl;
  .v-card {
    border-radius: 0.83333rem !important;
    .v-card-text {
      padding: 2.22rem !important;
      h3 {
        color: var(--main-color, #b9499b);
        text-align: center;
        font-family: Suisse Intl;
        font-size: 1.33333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .v-text-field .v-field--single-line input {
        direction: rtl;
      }
    }
  }
}
.sign-up-comment {
  color: var(--placeholder, #9a9ea6);
  font-family: Suisse Intl;
  font-size: 0.66667rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  a {
    color: var(--main-color-light-dark, #bc46a3);
    text-decoration-line: underline;
  }
}
.customCheckbox {
  display: flex;
  .v-checkbox-btn {
    .v-selection-control__wrapper {
      display: none;
    }

    .v-label {
      padding: 0.55556rem 1.33333rem;
      border-radius: 2.77778rem;
      background: rgba(185, 73, 155, 0.3);

      /* card effect 5% */
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
      color: #fff;
      opacity: 1 !important;
      height: 41px;
    }
    &.v-selection-control--dirty {
      .v-label {
        background: var(--main-color, #b9499b) !important;
      }
    }
  }
}
.fc {
  .fc-toolbar-title {
    color: var(--secondary-color, #444545);
    font-family: Suisse Intl;
    font-size: 1.33333rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .fc-col-header {
    .fc-col-header-cell {
      a {
        color: var(--secondary-color, #444545);
        font-family: Suisse Intl;
        font-size: 0.88889rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0.67rem 0;
      }
    }
  }
  .fc-daygrid-body {
    .fc-daygrid-day-frame {
      padding: 0.67rem;
      cursor: pointer;
      .fc-daygrid-day-top {
        color: var(--placeholder, #9a9ea6);
        font-family: Suisse Intl;
        font-size: 1.16667rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .fc-daygrid-day-events {
        .fc-daygrid-event-harness {
          color: var(--white, #fff);
          font-family: Suisse Intl;
          font-size: 0.77778rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          border-radius: 0.22222rem;
          background: var(--main-color, #b9499b);
          margin-bottom: 0.3rem;
          cursor: pointer;
          .fc-h-event {
            background: var(--main-color, #b9499b);
            border: 0;
            height: 20px;
            text-align: center;
          }
        }
      }
    }
  }
  .fc-button .fc-icon {
    display: flex;
    font-size: 1.2rem;
  }
  .fc-button-primary {
    background-color: var(--main-color, #b9499b);
    border-color: var(--main-color, #b9499b);
    color: #fff;
  }
}
.password-errors {
  p {
    color: var(--error, #e42021);
    text-align: right;
    font-family: Suisse Intl;
    font-size: 0.55556rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.56rem;
  }
}
p.customerror {
  color: var(--error, #e42021) !important;
  text-align: right;
  font-family: Suisse Intl;
  font-size: 0.55556rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.56rem;
}
.phone-input {
  .v-input__prepend {
    position: absolute;
    left: 0;
    z-index: 1;
    direction: ltr;
    padding: 18px;

    border-radius: 0.83333rem 0rem 0rem 0.83333rem;
    border: 1px solid var(--light-stroke, #dfdfe0);
    background: rgba(252, 167, 200, 0.3);

    color: var(--secondary-color, #444545);
    text-align: right;
    font-family: Suisse Intl;
    font-size: 0.66667rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
  }
}
select.v-field__input {
  border-radius: 0.83333rem;
  border: 1px solid var(--light-stroke, #dfdfe0);
  background: var(--white, #fff);
  height: 2.88889rem;
  padding: 0 0.89rem;
  color: var(--placeholder, #9a9ea6);
  font-family: Suisse Intl;
  font-size: 0.77778rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url(@/assets/img/icons/svg/ArrowDownCircle.svg);
  background-repeat: no-repeat;
  background-position: 1rem 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  // display:none;
}
input[type="date"] {
  // background-image:url(@/assets/img/icons/svg/Calendar.svg);
  // background-repeat: no-repeat;
  // background-position: 1rem 50%;
  // text-align: right;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  // display:none;
}
input[type="time"] {
  // background-image:url(@/assets/img/icons/svg/Time_Circle.svg);
  // background-repeat: no-repeat;
  // background-position: 1rem 50%;
  // text-align: right;
}
.file-uploader {
  border-radius: 0.55556rem;
  border: 1px dashed var(--light-stroke, #dfdfe0);
  background: var(--white, #fff);
  text-align: center;
  padding: 1.67rem;
  img {
    margin-bottom: 1.67rem;
  }
  p {
    color: var(--mid-grey, #6d6e70);
    text-align: center;
    font-family: Suisse Intl;
    font-size: 0.88889rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.44444rem; /* 162.5% */
  }
  .imageUploaderbtn {
    margin-top: 1.67rem;
    display: inline-block;
    font-size: 0.88889rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1.1rem 4rem;
    border-radius: 0.66667rem;
    border: 1px solid var(--main-color, #b9499b);
    background: var(--white, #fff);
    color: var(--main-color, #b9499b) !important;
    cursor: pointer;
  }
}

.successCompleteProfile {
  p {
    color: var(--secondary-color, #444545);
    font-family: Suisse Intl;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.44444rem;
    margin: 2.2rem;
    &.successMsg {
      color: var(--true, #39b54a);
      text-align: center;
      font-family: Suisse Intl;
      font-size: 1.11111rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.44444rem; /* 130% */
    }
  }
}

.addAddressDialog {
  direction: rtl;
  .v-card {
    border-radius: 0.83333rem !important;
    .v-card-text {
      padding: 2.22rem !important;
      h3 {
        color: var(--main-color, #b9499b);
        text-align: center;
        font-family: Suisse Intl;
        font-size: 1.33333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .v-text-field .v-field--single-line input {
        direction: rtl;
      }
    }
  }
}

.consults {
  .v-selection-control-group {
    flex-direction: column;
    display: flex;
  }
  .service {
    h3 {
      color: var(--black, #000);
      font-family: Suisse Intl;
      font-size: 1.11111rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 1.11rem;
    }
    .v-expansion-panel {
      margin-bottom: 0.89rem;
      border-radius: 0.55556rem !important;
      background: var(--white, #fff);

      /* card shadow - inner - 7% */
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07) inset;
      .v-expansion-panel-title {
        padding: 1rem;
        h4 {
          color: var(--secondary-color, #444545);
          font-family: Suisse Intl;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .mdi-chevron-down::before {
          content: "\F043D";
          color: #dfdfe0 !important;
        }
        .mdi-chevron-up::before {
          content: "\F043E";
          color: #b9499b !important;
        }
      }

      .v-expansion-panel__shadow {
        display: none;
      }
      &.v-expansion-panel--active {
        background: var(--card-back-5, rgba(252, 167, 200, 0.05));
      }
      .v-expansion-panel-text {
        h5 {
          color: var(--black, #000);
          font-family: Suisse Intl;
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0.89rem;
        }
        select {
          width: 100%;
          color: var(--secondary-color, #444545);
          font-family: Suisse Intl;
          font-size: 0.77778rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .v-expansion-panels:not(.v-expansion-panels--variant-accordion)
      > :first-child:not(:last-child):not(.v-expansion-panel--active):not(
        .v-expansion-panel--before-active
      ) {
      border-bottom-left-radius: 0.55556rem !important;
      border-bottom-right-radius: 0.55556rem !important;
    }
    .v-expansion-panels:not(.v-expansion-panels--variant-accordion)
      > :last-child:not(:first-child):not(.v-expansion-panel--active):not(
        .v-expansion-panel--after-active
      ) {
      border-top-left-radius: 0.55556rem !important;
      border-top-right-radius: 0.55556rem !important;
    }
    .v-expansion-panel:not(:first-child)::after {
      display: none !important;
    }
    .v-expansion-panel-title--active > .v-expansion-panel-title__overlay,
    .v-expansion-panel-title[aria-haspopup="menu"][aria-expanded="true"]
      > .v-expansion-panel-title__overlay {
      opacity: 0 !important;
    }
  }
}
.btn-href {
  border-radius: 0.66667rem;
  background: var(--main-color, #b9499b);
  color: var(--white, #fff);
  text-align: center;
  font-family: Suisse Intl;
  font-size: 0.66667rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.78rem;
  display: block;
}
.customRadio {
  .v-selection-control-group {
    display: block;
  }
  .v-selection-control {
    width: 46% !important;
    display: inline-block;
  }
  .v-radio {
    .v-selection-control__wrapper {
      display: none;
    }
    .v-label {
      border-radius: 0.55556rem;
      background: var(--main-color-light-1-with-20, #f6e5ec);
      color: var(--placeholder, #9a9ea6);
      font-family: Suisse Intl;
      font-size: 1.11111rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 1.22rem;
      opacity: 1;
      text-align: center;
      display: inline-block;
    }
    &.v-selection-control--dirty {
      .v-label {
        background: var(--main-color, #b9499b);
        color: #fff;
      }
    }
  }
}
.available-slots {
  .v-selection-control {
    margin-bottom: 0.72rem;
  }
}
.select-day {
  padding: 0.67rem 0.22rem;
  border-radius: 0.88889rem;
  background: var(--white, #fff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  .fc {
    td,
    th {
      border: 0;
    }
    .fc-header-toolbar {
      margin-bottom: 0;
      .fc-toolbar-title {
        color: var(--black, #000);
        font-family: Suisse Intl;
        font-size: 1.11111rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0.56rem;
      }
      .fc-toolbar-chunk {
        .fc-button-group {
          .fc-button {
            background-color: transparent;
            border: 0;
            color: #9a9ea6;
            &:hover {
              color: #fca7c8;
            }
            &:focus {
              box-shadow: none;
              color: #fca7c8;
            }
          }
        }
      }
    }
    .fc-view-harness {
      .fc-scrollgrid {
        border: 0;
        .fc-scrollgrid-section-header {
          .fc-col-header {
            thead {
              th {
                .fc-col-header-cell-cushion {
                  color: var(--black, #000);
                  text-align: center;
                  font-variant-numeric: lining-nums tabular-nums;
                  font-family: Suisse Intl;
                  font-size: 0.77778rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  padding: 0.78rem 0;
                }
              }
            }
          }
        }
      }
    }
    .fc-scrollgrid-sync-table {
      .fc-daygrid-day-frame {
        text-align: center;
        .fc-daygrid-day-events {
          display: none;
        }
        .fc-daygrid-day-top {
          color: var(--black, #000);
          text-align: center;
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: inline-block;
        }
      }
    }
  }
}
.row-select {
  width: 80%;
  margin: 0 auto;
  position: relative;
  .row-select-col {
    z-index: 1;
    span {
      color: var(--placeholder, #9a9ea6);
      text-align: center;
      font-size: 0.88889rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    span:first-child {
      background: #9a9ea6;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 10px auto;
      color: #fff;
      position: relative;
      color: var(--white, #fff);
      font-size: 0.88889rem;
      font-style: normal;
      font-weight: 400;
      &::before {
        position: absolute;
        content: "";
        border-width: 3px 0px 0 8vw;
        border-style: solid solid solid solid;
        border-color: gray;
        top: 15px;
        right: 18px;
        z-index: -1;
      }
    }
    &.active {
      span {
        color: #b9499b;
      }
      span:first-child {
        background: #b9499b;
        color: #fff;
        &::before {
          border-color: #b9499b;
        }
      }
    }
  }
  .row-select-col:last-of-type {
    span:first-child {
      &::before {
        position: absolute;
        content: "";
        border-width: 0px;
        border-color: transparent;
      }
    }
  }
}
.reservations-filters-tabs {
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #b9499b;
  li {
    display: inline-block;
    color: var(--light-grey, #a6a8ab);
    text-align: center;
    font-family: Suisse Intl;
    font-size: 0.88889rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.56rem 0.67rem;
    border-radius: 0.55556rem 0.55556rem 0rem 0rem;
    background: var(--white, #fff);

    /* card shadow - inner - 10% */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;

    &.active {
      background-color: #b9499b;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.radio-resons {
  margin-top: 1.1rem;
  .v-selection-control-group {
    flex-direction: column !important;
    .v-selection-control {
      border-radius: 0.55556rem;
      background: var(--white, #fff);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07) inset;
      margin: 0 !important;
      display: block;
      margin-bottom: 1.1rem !important;
      .v-selection-control__wrapper {
        float: left;
        margin: 0.45em 0.89rem;
      }
      .v-label {
        float: right;
        width: 80%;
        color: var(--secondary-color, #444545);
        font-family: Suisse Intl;
        font-size: 0.88889rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0.94rem 0.89rem;
      }
    }
  }
  .otherwise {
    border-radius: 0.55556rem;
    background: var(--card-back-5, rgba(252, 167, 200, 0.05));

    /* card shadow - inner -20% */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2) inset;
    .v-selection-control {
      box-shadow: none;
      background: transparent !important;
      margin-bottom: 0 !important;
    }
    textarea {
      border-radius: 0.55556rem;
      border: 1px solid var(--light-stroke, #dfdfe0);
      background: var(--white, #fff);
      width: calc(100% - 2rem);
      margin: 0 1rem 1rem;
      padding: 0.67rem;
      color: var(--placeholder, #9a9ea6);
      font-family: Suisse Intl;
      font-size: 0.77778rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.main-color {
  color: #b9499b;
}

.fc-day-today {
  background-color: #ffafea !important;
}

#videoCallLocal {
  position: absolute;
  width: 120px;
  height: 200px;
  right: 0;
  z-index: 9999;
  top: 10%;
}
#videoCallRemote {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("@/assets/img/no-video-128.png");
  background-position: center;
  background-repeat: no-repeat;
}
.active-chat-icon {
  img {
    filter: brightness(40%);
  }
}
#muteVideo:hover,
#muteAudio:hover {
  filter: brightness(40%);
}

.callNow {
  background: rgb(80 220 122 / 84%);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 0.78rem 1.1rem;
  justify-content: space-between;
}
.blockedCall {
  background: #f6bd2c;
}
.noReservations {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 3rem;
  img {
    margin-bottom: 2rem;
  }
}

//### Responsive Styles

#MOBILE_HEADER {
  display: none;
}
@media (max-width: 780px) {
  #WEB_HEADER {
    display: none;
  }
  #MOBILE_HEADER {
    display: block;
    z-index: 9999999;
    position: fixed;
    width: 100%;
    .topBar {
      background-color: #f8edf5;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  #USER_MENU,
  #DOCTOR_MENU,
  #WEB_MENU_CONTAINER {
    display: none;
  }
  #MOBILE_SIDEBAR {
    #USER_MENU,
    #DOCTOR_MENU {
      display: block;
    }
    margin-top: 112px;
    .firstMenu {
      margin-right: -3rem;
      //margin-top: 0.25rem;
      li {
        margin: 0.5rem 0;
      }
    }
    .actions_nav {
      margin-right: -1rem;
      li {
        display: block;
        a {
          display: flex;
          align-items: center;
          gap: 15px;
          margin: 0.5rem 0;
        }
      }
    }
    .v-card-text {
      padding: 0;
    }
  }
  .loginPage {
    margin-top: 100px;
  }

  .loginDiv {
    .v-input__append {
      top: 18px;
    }
  }
  .loginPage .loginBody .socail-login {
    margin: 0;
    .sign-up {
      margin: 1rem 0;
    }
  }

  .v-selection-control-group {
    flex-direction: column;
  }
  .otp-input {
    width: 50px;
    height: 50px;
  }

  #videoCallRemote {
    width: 100vw !important;
  }
}

.calenderDiv {
  .fc .fc-button-primary {
    background-color: transparent;
    border-color: transparent;
    color: #9a9ea6;
  }
  .fc .fc-col-header .fc-col-header-cell a {
    color: var(--black, #000);
    text-align: center;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1rem;
  }
  .fc .fc-daygrid-body .fc-daygrid-day-frame {
    padding: 0;
  }
  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    display: none;
  }
  .fc .fc-daygrid-body .fc-daygrid-day-frame .fc-daygrid-day-top {
    color: var(--black, #000);
    text-align: center;
    font-size: 0.66667rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
  }
  .fc .fc-toolbar-title {
    font-size: 1rem;
  }
}

.changePasswordForm {
  input.v-field__input {
    border-radius: 0.83333rem;
    border: 1px solid var(--Light-stroke, #dfdfe0) !important;
    background: var(--White, #fff);
    padding: 1rem !important;
  }
}

.adminHeader {
  .topBar .search input {
    border: 0 !important;
    width: 350px;
  }
}
.main {
  .search {
    .v-text-field input {
      border: 0 !important;
    }
  }
}

// pagination
.v-pagination__prev,
.v-pagination__next {
  background: #b9499b;
  width: 1.66667rem;
  height: 1.66667rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.v-pagination__item {
  display: flex;
  align-items: center;
  .v-btn {
    width: 1.66667rem;
    height: 1.66667rem;
    background: #fff;
    border-radius: 50%;
    color: var(--placeholder, #9a9ea6);
    text-align: center;
    font-size: 0.88889rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.v-pagination__item--is-active {
    .v-btn {
      background: var(--main-color, #b9499b);
      color: #fff;
      height: 33px;
    }
  }
}
.v-btn.v-btn--density-default {
  height: 3rem;
}

.records {
  .search {
    border: 1px solid #dfdfe0;
    border-radius: 30px;
    padding: 7px;
  }
  .table_res {
    overflow: overlay;
  }
  .v-table {
    min-width: 768px;
    border: 1px solid #dfdfe0;
    border-radius: 15px 15px 0 0;
    border-bottom: none;
    thead {
      border-radius: 15px 15px 0 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
      }
      tr {
        th {
          padding: 20px !important;
          color: #000 !important;
          font-weight: bold !important;
          font-size: 16px !important;
        }
      }
    }
    tbody {
      tr {
        td {
          color: var(--secondary-color, #444545);
          font-size: 0.88889rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          padding: 20px !important;

          a {
            color: #444545 !important;
            transition: all 0.1s ease-in-out;
          }
          &:hover {
            cursor: pointer;
            a {
              color: #e570b0 !important;
            }
          }
        }
        .examination_body {
          padding: 4px;
          border-radius: 15px;
          color: #fff;
          text-align: center;
          font-size: 12px;
        }
        td.under {
          color: #e570b0 !important;
          text-decoration: underline;
        }

        img {
          width: 30px;
          height: 30px;
          // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
          // padding: 2px;
          border-radius: 50%;
        }
      }
    }
  }
  .footer {
    border-radius: 0 0 15px 15px;
    min-width: 768px;
    .show {
      font-size: 20px;
    }
  }

  .consult-two {
    background: #fca7c87a;
  }
}

// admin img icon
img.img_width {
  width: 23px !important;
  height: 23px !important;
}

// table full
.full_table {
  border-bottom: 1px solid #dfdfe0 !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

// who are
.rules {
  h2 {
    font-size: 24px;
    color: #b9499b;
  }
  p {
    color: var(--Secondary-color, #444545);
    text-align: right;
    font-family: Suisse Intl;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    min-height: 200px;
  }
}
